!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %title= content_for?(:title) ? yield(:title) : "Playit"
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
    = stylesheet_link_tag    "one", :media => "all"

    %link(href="images/favicon.ico" rel="shortcut icon")
    %link(href="images/apple-touch-icon.png" rel="apple-touch-icon")
    %link(href="images/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72")
    %link(href="images/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114")

    = javascript_include_tag "one"
    = csrf_meta_tags
    = yield(:head)
  %body{ :id => 'one', :class => "#{controller}" }
    %header.navbar.navbar-fixed-top.navbar-inverse
      %nav.navbar-inner
        .container-fluid
          %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = render 'one/navigation'
    #main{:role => "main"}
      %nav#player
        = render 'one/player'
      .container-fluid#content
        .row-fluid
          .span12
            = render 'layouts/messages'
            = yield

    %footer
      %p &copy; Christopher Kleckner 2013
